*{
  margin: 0;
  padding:0;
}
.container{
  height: 100vh;
  width: 100%;
  background-image: url(Untitled.png);
  background-position: center;
  background-size: cover;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
  position: relative;
}

.con1{
  text-align: center;
  padding-top: 210px;
  line-height: 30px;
  font-size: 20px;
}
.con2{
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}

.slider{
  width: 40%;
  margin-right: auto;
}
div{
  position: relative;
}
.button{
width:120px;
height: 40px;
font-size: 20px;
color:white;
background-color: rgb(134, 23, 122);

}
.buttonPostion{
  padding-left: 680px;
  top:55px;
}
